.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  width: fill;
  height: 7vh;
  background-color: rgb(78, 149, 209);
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
}

.name {
  text-decoration: underline lightskyblue;
}

body {
  
  background-color: black;
}
.card {
  width: 80%;
  height: 75%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
}

.card-info {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
  text-align: left;
  line-height: 5px;
  padding-top: 30px;
}

.from {
  display: flex;
  flex-direction: row;
}

.prop {
  font-weight: bold;
}

.value {
  font-weight:normal;
}

.job {
  display: flex;
  flex-direction: row;
}

.employer {
  display: flex;
  flex-direction: row;
}

.card-number {
  position: relative;
  float: right;
  right: 0px;
  top: -20px;
}

ol {
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.movies {
  padding-bottom: 10px;
}

li {
  text-align: left;
  line-height: 30px;
}

.buttons-section {
  width: 80%;
  background-color: black;
  margin: 0 auto;
}

.blue-buttons {
  width: 70px;
  height: 30px;
  position: relative;
  margin-left: 20px;
  background-color: rgb(78, 149, 209);
  border-radius: 30%;
  color: white;
  font-size: large;
  
}

.previous {
  position:absolute;
  float: left;
  left: 100px;
  background-color: black;
  border: none;
  color: white;
  font-size: larger;
}

.next {
  position:absolute;
  float: right;
  right: 100px;
  background-color: black;
  border: none;
  color: white;
  font-size: larger;
}
